<div class="container-fluid" style="padding-top:10px">
  <div class="row">
    <div class="col-sm-9 col-md-6 col-lg-8">
      <form class="form-inline my-2 my-sm-0" name="search" ng-submit="vm.search()" style="margin:auto;max-width:300px">
        <input type="text" name="symbol" placeholder="Search by Stock Symbol" required ng-minlength="2" ng-model="vm.Symbol" autocapitalize="true"/>
        <button type="submit"><i class="fa fa-search"></i></button>
      </form>
      <div>
        <small>Search Results:</small>
        <div ng-if="vm.error">
            <p>{{ vm.error }}</p>
        </div>
        <h3>Company Name : {{vm.symbol.Name}}</h3>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Symbol</th>
                    <th>Industry</th>
                    <th>Sector</th>
                    <th>Last Sale</th>
                    <th>Market Cap</th>
                    <th>IPO Year</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>{{vm.symbol.Symbol}}</td>
                    <td>{{vm.symbol.Industry}}</td>
                    <td>{{vm.symbol.Sector}}</td>
                    <td>{{vm.symbol.LastSale | currency}}</td>
                    <td>{{vm.symbol.MarketCap | currency}}</td>
                    <td>{{vm.symbol.IPOyear}}</td>
                </tr>
            </tbody>
        </table>
    </div>
    </div>
    <div class="col-sm-3 col-md-6 col-lg-4">
    <button type="submit" class="btn btn-sm btn-info" ng-click="vm.showSearchHistory()">Search History</button>
        <div ng-if="vm.error">
            <p>{{vm.err}}</p>
        </div>
        <ul>
            <li ng-repeat="search in vm.searchHistory">{{search.symbol}}</li>
        </ul>

    </div>
    </div>
  </div>
</div>